body{
    display: block;
    margin: 0;
    padding: 0;
}
.hero-section{
    height: 1080px;
    background-color: #F5F88E;
    box-sizing:border-box;
}
.nav-section{
    display: flex;
    justify-content: space-between;
}
.Comp-name{
    width: 111px;
    height: 30px;
    margin : 64px 0 0 120px;
    color: #000;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
}
span{
    color: #000;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.navbar-buttons{
    margin : 64px 70px 0 0px; 
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

}
.btn{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;  
}
#btn1{
    width: 100px;
    height: 39px;
    border-radius: 34px;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#btn2{
text-align: center;
font-family: Inter;
font-size: 17px;
font-style: normal;
font-weight: 400;
width: 181px;
height: 61px;
border: none;
border-radius: 30px;
background: #5FCCA0;
}

#btn3{
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  width: 181px;
  height: 61px;
  border-radius: 30px;
  border: 2px solid #000;
  background: #FFF;
}

.heading {
  display: flex;
  flex-direction: column;
  margin: 100px 0 0 120px;
}

h1{
    width: 501px;
    height: 176px;
   margin-bottom: 40px;
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; /* 91.667% */ 
}
p{
  margin-top: 0px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 88px; /* 440% */
}

.hero-button{
 display: flex;
 gap: 30px;
}

#mid-head{
  display: flex;
  flex-direction: row;
 
  justify-content: space-between;
}
.hero-image {
    display: inline-flex;
    flex-direction: row;
  }
  #img{
    margin-top: 28px;
    margin-right: 120px;
    height: 621px;
    width: auto;
  }
  .Des-section{
    height: 1900px;
    background-color: #FFF;
  }
  .Des-head{
    color: #000;
    font-family: Mulish;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-top: 130px;
  }
  #Des-para{
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
    color: #000;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 38px; /* 211.111% */
  }

.Des-image{
  display: flexbox;
    flex-direction: row;
}
.background-img1{
  position: absolute;
  left: 10px;
} 
.background-img2{
  position: absolute;
  right: 10px;
} 
.foreward-img{
  position: relative;
 left: 235px;
}
