body{
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hero-section{
    height: 750px;
    background-color: #F5F88E;
    box-sizing:border-box;
}
.nav-section{
    display: flex;
    justify-content: space-between;
}
.Comp-name{
    width: 111px;
    height: 30px;
    margin : 64px 0 0 120px;
    color: #000;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
}
span{
    color: #000;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.navbar-buttons{
    margin : 64px 70px 0 0px; 
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

}
.btn{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;  
}
#btn1{
    width: 100px;
    height: 39px;
    border-radius: 34px;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

a:hover{
  position: relative;
  bottom: 7px;
  color: #5FCCA0;
  font-size: 16px;
}

#btn1:hover {
  border: 0;
  background-color: #5FCCA0;
  color: #FFFFFF;
}
#btn2{
text-align: center;
font-family: Inter;
font-size: 17px;
font-style: normal;
font-weight: 400;
width: 181px;
height: 61px;
border: none;
border-radius: 30px;
background: #5FCCA0;
}

#btn2:hover{
  border: 2px solid #000;
  background-color: #FFFFFF;
  color: #000000;
}

#btn3{
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  width: 181px;
  height: 61px;
  border-radius: 30px;
  border: 2px solid #000;
  background: #FFF;
}
#btn3:hover{
  background-color: #5FCCA0;
  color: #FFFFFF;
  border:  0;
}

.heading {
  display: flex;
  flex-direction: column;
  margin: 100px 0 0 120px;
}

h1{
    width: 501px;
    height: 176px;
   margin-bottom: 40px;
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; /* 91.667% */ 
}
p{
  margin-top: 0px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 88px; /* 440% */
}

.hero-button{
 display: flex;
 gap: 30px;
}

#mid-head{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
}
.hero-image {
    display: inline-flex;
    flex-direction: row;
  }
  #img{
    margin-top: 28px;
    margin-right: 120px;
    height: 621px;
    width: auto;
  }
  .Des-section{
    height: 1300px;
    background-color: #FFF;
  }
  .Des-head{
    color: #000;
    font-family: Mulish;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-top: 120px;
  }
  #Des-para{
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 211.111% */
  }

.Des-image{
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  justify-content: center;
}

.CTA-section{
  width: auto;
height: 750px;
background:#F5F88E;
}
.CTA-image{
  display: flex;
  flex-direction: column;
}
.img-CTA{
  margin-top: 150px;
  height: 480px;
  width: auto;
}
.bg-img1{
  position: relative;
  left: 145px;
  top: 200px;
}
.bg-img2{
  position: relative;
  top: 400px;
  left: 540px;
}

.fr-img{
  position: absolute;
  margin-top: 230px;
  left: 0;
}
.heading2{
  display: flex;
  flex-direction: column;
  
}
#mid-head2{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
}
#CTA-head{
  color: #000;
font-family: Mulish;
font-size: 54px;
font-style: normal;
font-weight: 400;
line-height: 73px; /* 135.185% */
margin-top: 180px;
margin-right: 100px;
margin-bottom: 0px;
}

#CTA-para{
  margin: 0;
  line-height: 15px;
}
.CTA-button{
  display: flex;
  gap: 30px;
  margin-top: 75px;
}
.CTA-rating{
  display: flex;
  gap: 30px;
  margin-top: 40px;

}
#para-rating{
  width: 238px;
  color: #000;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.star-img{
  height: 27px;
  width: 175px;
}
.footer-section{
  height: 350px;
  background: #FFF;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
h6{
  color: #5FCCA0;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.foot-span{
  color: #5FCCA0;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.foot-head1
{
  margin-left: 120px;
}

.foot-head2
{
  display: flex;
  flex-direction: row;
  margin-right: 100px;
  gap: 80px;
}
.links{
  color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.nolinks{
  width: 195px;
  color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

@media screen and (max-width: 1300px){
h1{
  font-size: 80px;
}
.p{
  font-size: 17px;
}
#Des-para{
  font-size: 15px;
}
.Comp-name{
  margin-left: 60px;
}
#btn2,#btn3{
  height: 50px;
  width: 150px;
}
  .heading{
    height: auto;
    width: auto;
    margin-left : 60px;
  }
  .hero-image{
    height: 550px;
    width: 450px;
  }
  #img{
    height: 450px;
    margin-top: 160px;
    margin-left: -81px;
    width: auto;
  }
  .Des-head{
    font-size: 40px;
    padding-top: 70px;
  }
.Des-section{
  height: 1100px;
}

  #img-Des{
    height: 650px;
      width: auto;
  }
  .CTA-section{
    height: 800px;
  }
  .img-CTA{
    height: 450px;
    width: auto;
    margin-top: 180px;
  }
  #CTA-head{
    margin-top: 200px;
    margin-right: 50px;
  }
  .star-img{
    width: 150px;
    height: 24px;
  }
  .footer-section{
    height: 310px;
  }
  .foot-head2{
    display: flex;
    flex-direction: row;
    width: 550px;
    height: auto;
    gap: 60px;
    margin-right: 180px;
  }
  .foot-head1 {
    margin-left: 60px;
}
.nolinks{
  margin: 0;
}
}